.salary {
    display: flex;
    flex-direction: column;
    padding: 0 20%;

    &__input__top {
        display: flex;
        padding-top: 30px;

        &--section {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }
        &--select {
            align-self: flex-end;
            position: relative;
            cursor: pointer;
            border: none;
            border-bottom: 1px solid #ced4da;
            height: 25px;
            outline: none;
            list-style: none;
            padding: 0;
            margin-left: 20px;
        }

        &--cursor {
            font-size: 11px;
            margin-left: 15px;
        }

        &--option {
            display: none;
        }
    }
    
    &__input {
        display: flex;
        padding-top: 20px;

        &--section {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }

        &--select {
            align-self: flex-end;
            position: relative;
            cursor: pointer;
            border: none;
            border-bottom: 1px solid #ced4da;
            height: 25px;
            outline: none;
        }
    }

    &__date {
        text-align: center;
    }

    &__discount {
        display: flex;
        align-items: flex-end;
        
        &--button {
            margin-left: 20px;
        }
    }
}
.newSum {
    margin: 0 0 0 40px;
    
}