.salary {
  padding-left: 10%;
}
.salary__input {
  display: flex;
  padding: 15px;
}
.salary__input--top {
  display: flex;
  padding: 15px;
}
.salary__input--text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
